@charset "utf-8";
html{
	max-width:1180px;
	max-height:auto;
	margin-left:auto;
	margin-right:auto;
	font-family: Arial;
	background-color: rgb(250, 250, 250);
	}
*{
		border-radius: 3px;
	}
.float-left,#float-left{
	float: left;
}
.float-right,#float-right{
	float: right;
}
li{
	float: left;
	list-style: none;
	font-size: 24px;
}
a{
	text-decoration: none;
	color: black;
}
/*                  header                    */
.logo {
	width: 200px;
	height: 150px;
	margin: -10px 0px 0px 10px;
}
.navbar{
	margin:50px 0px 0px 0px;
	padding: 100px 0px 0px 0px;
}
.navbar li{
	margin: 0px 0px 0px 40px;
}
/*                  content                    */
.scroll{
	clear: both;
	background-color:black;
	width: 800px;
	height: 500px;
	display: block;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 0 15px black, 0 0 40px black inset;
  -moz-box-shadow: 0 0 15px black, 0 0 40px black inset;
	box-shadow: 0 0 15px black, 0 0 40px black inset;
	padding: 10px;
	background: #fff;
	border: none;
}
.scroll img{
	width: 800px;
	height: 500px;
	box-shadow: 0 0 15px black, 0 0 40px black inset;
	padding: 10px;
	background: #fff;
	border: none;
}
.scroll img:hover{
	cursor: pointer;
}
.vise-navbar li{
	margin: 0px 0px 0px 200px;
}
/*                  footer                    */
footer{
	clear: both;
	margin-top: 400px;
}
.icon-taiwan{
	width: 60px;
	height: 50px;
	margin-left: 50px;
}
.copyright{
	font-size: 18px;
  margin: 20px 0px 0px 420px;
}
.community{
	margin-right: 50px;
}
#icon-twitter{
	width: 49px;
	height: 49px;
}
#icon-fb{
	padding-bottom: 4px;
	width: 43px;
	height: 43px;
}
#icon-ig{
	width: 52px;
	height: 52px;
}
